<%= form_for @item_pedido, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :pedido_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :pedido_id, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :produto_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :produto_id, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quantidade, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :quantidade, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :percentual_desconto, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :percentual_desconto, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :valor_decimal, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :valor_decimal, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :valor_unitario, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :valor_unitario, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  itens_pedido_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
