<%= form_for @fornecedor, :html => { :class => 'form-horizontal' } do |f| %>

  <%= render @fornecedor.pessoa %> 
  
  <div class="form-group">   
    <%= f.hidden_field :id %>
    <%= f.hidden_field :pessoa_id %>
    <%= f.label :situacao, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :situacao, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :observacoes, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :observacoes, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  fornecedores_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
