<%= fields_for :pessoa_attributes, pessoa_juridica do |f| %> 

  <%= f.hidden_field :id %>
  <div class="col-md-10">
    <div class="form-group">
      <%= f.label :type, :class => 'control-label' %>
      <%= f.select(:type, { "Pessoa Física" => "PessoaFisica", "Pessoa Jurídica" => "PessoaJuridica" }, {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="col-md-10">
    <%= f.text_field :cpf_cnpj %>
  </div>

  <div class="col-md-10">
    <%= f.text_field :razao_social, :class => 'text_field form-control' %>
  </div>

  <div class="col-md-10">
    <%= f.text_field :nome_fantasia, :class => 'text_field form-control' %>
  </div>

  <div class="col-md-10">
    <%= f.text_field :inscricao_estadual, :class => 'text_field form-control' %>
  </div>

  <div class="col-md-10">
    <%= f.text_field :inscricao_municipal, :class => 'text_field form-control' %>
  </div>

  <div class="col-md-10">
    <%= f.text_field :suframa, :class => 'text_field form-control' %>
  </div>
<% end %>