<%= fields_for :pessoa_attributes, pessoa_fisica do |f| %>  
    <%= f.hidden_field :id %>
  <div class="col-md-10">
    <div class="form-group">
      <%= f.label :type, :class => 'control-label' %>
      <%= f.select(:type, { "Pessoa Física" => "PessoaFisica", "Pessoa Jurídica" => "PessoaJuridica" }, {}, {class: "form-control"}) %>
    </div>
  </div>

    <div class="col-md-10">
      <%= f.text_field :cpf_cnpj, :class => 'text_field form-control' %>
    </div>

    <div class="col-md-10">
      <%= f.text_field :nome, :class => 'text_field form-control' %>
    </div>

    <div class="col-md-10">
      <%= f.text_field :data_nascimento, :class => 'text_field form-control' %>
    </div>

    <div class="col-md-10">
      <%= f.text_field :naturalidade, :class => 'text_field form-control' %>
    </div>

    <div class="col-md-10">
      <%= f.text_field :rg_emissao, :class => 'text_field form-control' %>
    </div>

    <div class="col-md-10">
      <%= f.text_field :rg_numero, :class => 'text_field form-control' %>
    </div>

    <div class="col-md-10">
      <%= f.text_field :orgao, :class => 'text_field form-control' %>
    </div>

    <div class="col-md-10">
      <%= f.text_field :sexo, :class => 'text_field form-control' %>
    </div>
<% end %>
